@model User
@{
    ViewData["Title"] = "Register";
}

<section class="mainBody">
    <div class="row">
        <div class="col-sm-12">
            <div class="mainText">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new
                        {
                            @class = "text-danger"
                        })
                        <div class="form-group">
                            @Html.LabelFor(model => model.StoreId, new
                            {
                                @class = "col-md-2"
                            })
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-centered">
                                @Html.TextBoxFor(model => model.StoreId, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(model => model.StoreId, "", new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, new
                            {
                                @class = "col-md-2"
                            })
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-centered">
                                @Html.TextBoxFor(model => model.UserName, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(model => model.UserName, "", new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, new
                            {
                                @class = "col-md-2"
                            })
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-centered">
                                @Html.TextBoxFor(model => model.FirstName, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, new
                            {
                                @class = "col-md-2"
                            })
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-centered">
                                @Html.TextBoxFor(model => model.LastName, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(model => model.LastName, "", new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new
                            {
                                @class = "col-md-2"
                            })
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-centered">
                                @Html.TextBoxFor(model => model.Email, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(model => model.Email, "", new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserPassword, new
                            {
                                @class = "col-md-2"
                            })
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-centered">
                                @Html.PasswordFor(model => model.UserPassword, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(model => model.UserPassword, "", new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Create" class="btn"/>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>