@{
    ViewData["Title"] = "SupplyDeliveryRequest";
}

<section class="mainBody">
    <div class="row">
        <div class="col-sm-12">
            <div class="mainText">
                    
                @using (Html.BeginForm())
                {
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new
                        {
                            @class = "text-danger"
                        })
                        Wybierz sklep:
                        <select name="sklep">
                            @Html.Raw(ViewBag.shopIdOptions)
                        </select>
                        Dzien:
                        <select name="dzien">
                            @Html.Raw(ViewBag.shopDay)
                        </select>
                        Miesiąc:
                        <select name="miesiac">
                            @Html.Raw(ViewBag.shopMonth)
                        </select>
                        Rok:
                        <select name="rok">
                            @Html.Raw(ViewBag.shopYear)
                        </select>
                        Godzina:
                        <select name="godzina">
                            @Html.Raw(ViewBag.shopHour)
                        </select>
                        Minuta:
                        <select name="minuta">
                            @Html.Raw(ViewBag.shopMinute)
                        </select>
                        
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-default" value="Zloz zamowienie">
                                <button type="reset" class="btn btn-default">Wyczysc</button>
                            </div>
                        </div>
                    </div>
                }
                    
            </div>
        </div>
    </div>
</section>
