@model NewMapPointer
@{
    ViewData["Title"] = "MapPointerRegister";
}

<section class="mainBody">
    <div class="row">
        <div class="col-sm-12">
            <div class="mainText">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new
                        {
                            @class = "text-danger"
                        })
                        <div class="form-group">
                            @Html.LabelFor(model => model.PointName, new
                            {
                                @class = "col-md-2"
                            })
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-centered">
                                @Html.TextBoxFor(model => model.PointName, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(model => model.PointName, "", new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nip, new
                            {
                                @class = "col-md-2"
                            })
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-centered">
                                @Html.TextBoxFor(model => model.Nip, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(model => model.Nip, "", new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PointCity, new
                            {
                                @class = "col-md-2"
                            })
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-centered">
                                @Html.TextBoxFor(model => model.PointCity, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(model => model.PointCity, "", new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PointAddress, new
                            {
                                @class = "col-md-2"
                            })
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-centered">
                                @Html.TextBoxFor(model => model.PointAddress, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(model => model.PointAddress, "", new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PointAddressBlockNumber, new
                            {
                                @class = "col-md-2"
                            })
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-centered">
                                @Html.TextBoxFor(model => model.PointAddressBlockNumber, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(model => model.PointAddressBlockNumber, "", new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PointLongitude, new
                            {
                                @class = "col-md-2"
                            })
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-centered">
                                @Html.TextBoxFor(model => model.PointLongitude, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(model => model.PointLongitude, "", new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.PointLatitude, new
                            {
                                @class = "col-md-2"
                            })
                            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-centered">
                                @Html.TextBoxFor(model => model.PointLatitude, new
                                {
                                    @class = "form-control"
                                })
                                @Html.ValidationMessageFor(model => model.PointLatitude, "", new
                                {
                                    @class = "text-danger"
                                })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Rejestruj" class="btn"/>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>